ul {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 90px;
  overflow: hidden;
  background-color: #121212dc;

  top: 0;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

li {
  float: left;
  margin-top: 1px;

  margin-bottom: 1px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.active {
  background-color: #4caf50;
}
.LogoNavbar {
  text-shadow: 0 0 15px #fb00ff, 0 0 20px #ff0000, 0 0 45px #8000ff;
  font-size: 25px;
  color: #fb00ffca;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;

  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.LogoNavbar:disabled {
  pointer-events: none;
}
.LogoNavbar:hover {
  text-shadow: 0 0 25px #0526ff, 0 0 45px #8000ff;
  color: #0119ba;
  transform: translateY(-1px);
}
.LogoNavbar:active {
  text-shadow: none;
}

.ShadowNavbar {
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.NavbarPhoto {
  width: 55px;
  height: 55px;
  margin-right: 20px;
  border-radius: 50%;
  border: #9328bafd;
  border-style: solid;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.608);
}
.NavbarBlur {
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
}
